* {
    box-sizing: border-box;
  }
body {
    margin: 0;
}
.nav {
    background-color:rgb(142, 208, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.nav ul {
    padding: 0;
    margin-left: 280px;
    list-style: none;
    display: flex;
    gap: 10rem;
}
.nav :link {
    text-decoration: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
}

.weather {
    height:0px;
    font-size: 16px ;
    margin-left: 820px;
    color: rgb(84, 63, 220) !important;

}
.DropdownButton{
    margin-top: 10px;
    width: 2600px;
    margin-left: 390px;
}
.list{
    align-items: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
